@{
    ViewData["Title"] = "Home Page";
}

<div class="linq-preview">
    <div class="template">
        <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="form-control"
                  rows="10"></textarea>
    </div>
    <div class="result">
        <div class="output"></div>
    </div>
</div>
